body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    width: 960px;
    font-size: 18px;
    margin: 50px;
    margin-left: 200px;
}
#header{
    background-color: #ebebeb;
    padding: 5%;
    margin: 1%;
    float: none;
    text-align: center;
    border: 5%
}

section{
    float: left;
    padding: 46px;
    padding-top: 45px;
    background-color: #ebebeb;
    width: 495px;
    text-align: center;
    margin-left: 10px;
}
#aside{
    background-color: #ebebeb;
    padding: 15%;
    padding-bottom: 260px;
    padding-top: 20px;
    float: left;
    margin: 1%;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 19px;
    text-align: inherit;
}
#article{
    color: #ebebeb;
    background-color: #777;
    padding-bottom: 75px;
    padding-right: 90px;
    padding-left: 90px;
    margin: 10px;
}
#p{
    color: #777;
    background-color: #ebebeb;
    margin: 10px;
}
#h1{
    color: #777;
    background-color: #ebebeb;
    margin: 10px;
}
#footer{
    background-color: #ebebeb;
    clear: left;
    padding: 5%;
    text-align: center;
    margin: 9px;
}