body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    width: 960px;
    font-size: 18px;
}
#header{
    background-color: #ebebeb;
    padding: 5%;
    margin: 1%;
    float: none;
    text-align: center;
    border: 5%
}
#aside{
    background-color: #ebebeb;
    padding: 15%;
    padding-bottom: 250px;
    padding-top: 20px;
    float: left;
    margin: 1%;
    text-align: inherit;
    border: 0%;
}
#article{
    color: #ebebeb;
    background-color: #777;
    float: left;
    padding-bottom: 75px;
    padding-right: 75px;
    padding-left: 75px;
}